@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  background-color: #00d79f;
}

.event-field-small {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 280px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #eaeaea;
  border-radius: 8px;
  font-size: 18px;
  padding: 10px;
  margin: 10px;
}

.event-field-big {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 280px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #eaeaea;
  border-radius: 8px;
  font-size: 18px;
  padding: 10px;
  margin: 10px;
}

.event-card {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 620px;
  width: 340px;
  border-radius: 10px;
  /*background: rgb(226,7,189);*/
  /*background: linear-gradient(90deg, rgba(226,7,189,1) 0%, rgba(6,231,12,1) 0%, rgba(0,212,255,1) 100%);*/
  background: rgb(255,105,248);
  background: linear-gradient(90deg, rgba(255,105,248,1) 0%, rgba(6,213,255,1) 100%);
}

.event-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.banner {
  width: 340px;
  height: 150px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  overflow: hidden;
}

.event-button {
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 280px;
  background: rgb(203, 17, 188);
  color: #eaeaea;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
}

.event-button:hover {
  background: rgb(255, 25, 234);
}